﻿
<h3>@ViewData["Title"]:</h3>
<form asp-action="UploadExchangeFile" asp-controller="FileUpload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

