﻿@model DolphiOrdersCore.Infrastructure.ViewModels.CartViewModel

<div class ="navbar-right">
    <a asp-controller="Cart" asp-action="Index" class="btn btn-default navbar-btn" asp-route-returnUrl="@Model.ReturnUrl">Заказать</a>
    <div class="navbar-text">
        <span>
            <b style="color:red">Ваша корзина:</b>
            @Model.Cart.GetTotalQuantity() товаров,
            @Model.Cart.GetTotalSum().ToString("# грн")
        </span>
    </div>
</div>

