﻿@model MenuProductGroupsViewModel

<a asp-action="List" asp-controller="Home" asp-route-page="1" asp-route-productGroupId=@Guid.Empty class=@("btn btn-block btn-lg " + ((Model.CurrentProductGroupId==Guid.Empty)?"btn-primary":"btn-default"))>Все группы</a>

@foreach (var item in Model.ProductGroups)
{
    <a asp-action="List" asp-controller="Home" asp-route-page="1" asp-route-productGroupId="@item.Id" class=@("btn btn-block btn-lg " + ((item.Id == Model.CurrentProductGroupId)?"btn-primary":"btn-default"))>@item.Name</a>
}