﻿
@{
    ViewData["Title"] = "Buy";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<title>Добавление товара в корзину</title>
</head>
<body>
<form method="post">
    <input type="hidden" value=@ViewBag.ProductId name="Id"/>
    <table>
        <tr><td>Имя</td><td> <input type="text" name="Name" /></td></tr>
        <tr><td>Фамилия</td><td> <input type="text" name="Surname" /></td></tr>
        <tr><td>Телефон</td><td> <input type="text" name="Phone" /></td></tr>
        <tr><td><input type="submit" value="Отправить" /></td><td></td></tr>
    </table>
   
</form>
</body>
</html>

