﻿@using DolphiOrdersCore.Infrastructure.Helpers
@model DolphiOrdersCore.Infrastructure.ViewModels.ProductListViewModel
@{
    //Layout = null;
}

<!DOCKTYPE html>

    <html>
    <head>
        <title>Список товаров Долфи</title>
    </head>
    <body>
        <h1>Товары</h1>

        @foreach (var item in Model.ProductSummaries)
        {
            @await Html.PartialAsync("ProductSummary", item);
        }

        <a asp-controller="FileUpload" asp-action="UploadDialog" asp-route-title="Выбирите файл обмена от 1С">Загрузить файл обмена из 1С</a>

        <form asp-controller="Exchange" asp-action="DoExchange" method="post">

            <input type="hidden" name="inputMessage" value='{
        "UnloadingDate": "2018-07-11T13:42:22Z",
        "Catalog.ProductGroups": [{
                   "Id": "1c5b0bfe-7ffb-11de-8cc6-00248c29c07e",
                    "Code1C": "00034",
                    "Name": "!!Бандажі Medtextile"},
                   {
                    "Id": "b738f3f5-01ce-11e8-97d0-002590967b1c",
                      "Code1C": "00081",
                      "Name": "Бандажі кругловязані MedTextile"
                    },
                      {
                      "Id": "0966d706-7fff-11de-8cc6-00248c29c07e",
                      "Code1C": "00042",
                      "Name": "Бахіли"
                     }],
        "Catalog.Products": [{
                   "Id": "7147243a-8b79-11e0-b953-00248c29c07e",
                    "Code1C": "БАМ00104",
                    "Name": "Бандаж грижовий ліво- та правосторонній, розмір S, люкс",
                    "Article": "5001 S_люкс",
                    "ProductGroupId": "b738f3f5-01ce-11e8-97d0-002590967b1c"},
                   {
                  "Id": "0af3bc54-3612-11e7-a4d2-002590967b1c",
                  "Code1C": "COM01804",
                  "Name": "Бахіли МР MedPlast 2 г",
                  "Article": "Бахіли МР 2 г",
                  "ProductGroupId": "0966d706-7fff-11de-8cc6-00248c29c07e"
                 },
                   {
                   "Id": "89a5bac5-e73a-11df-b355-00248c29c07e",                    "Code1C": "АПД00006",                   "Name": "Антиполіцай А4 (4х20х50) Економ",                   "Article": "10807 ЭК",                   "ProductGroupId": null                  }
                   ]}' />

            <div>
                <input type="submit" value="Post request" />
            </div>
        </form>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { productGroupId = Model.CurrentProductGroupId, page = x }))
    </body>
</html>
