﻿@model DolphiOrdersCore.Infrastructure.ViewModels.ProductSummaryModel

<div class="well">
    <h3>
        <strong>@Model.Product.Name</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("# грн")</span>
    </h3>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.Hidden("Id", Model.Product.Id)
            @Html.Hidden("returnUrl", ViewContext.HttpContext.Request.Path.Value)
            @*@Html.Hidden("Price", Model.Price)*@
            <input asp-for="Price" type="hidden" value=@Model.Price />
            @*@Html.DisplayFor(m=>m.Price)*@
            <input type="submit" class="btn btn-success" value="Добавить в корзину" />
        </div>

    }

    <span class="lead">@Model.Product.Article</span>

</div>
