﻿@model DolphiOrdersCore.Infrastructure.ViewModels.CartLineViewModel

@{ 
    string productId = Model.CartLine.Product.Id.ToString();
    string totalQuantityPrefix = "tq";
    string totalSumPrefix = "ts";
}

<td>@Model.CartLine.Product.Id</td>
<td>@Model.CartLine.Product.Name</td>
<td>@Model.CartLine.Price</td>
<td>
    <input id="@('q'+productId)" value="@Model.CartLine.Quantity" />
    <button id="@('b'+productId)" class="btn btn-default btn-xs" title="Установить количество"
            onclick="(function() { changeQuantity(@productId, '@Model.ReturnUrl')})()">
        V
    </button>

</td>
<td>@Model.CartLine.GetLineSum()</td>
<td><a class="btn btn-danger btn-xs" asp-controller="Cart" asp-action="RemoveFromCart" 
       asp-route-id="@Model.CartLine.Product.Id" asp-route-returnUrl="@Model.ReturnUrl" title="Удалить строку">X</a></td>
<input type="hidden" id="@(totalQuantityPrefix + productId)" value="@Model.TotalQuantity"/>
<input type="hidden" id="@(totalSumPrefix + productId)" value="@Model.TotalSum" />
