﻿@model DolphiOrdersCore.Infrastructure.ViewModels.CartViewModel
@{
    ViewData["Title"] = "Index";
    decimal totalQuantity = Model.Cart.GetTotalQuantity();
    decimal totalSum = Model.Cart.GetTotalSum();
}

<script type="text/javascript">
    function changeQuantity(idProduct, returnUrl) {
        //var idB = "#b" + idProduct;
        var idTr = "#p" + idProduct;
        var idQuantity = "#q" + idProduct;
        var idRawsTotalQuantity = "#tq" + idProduct;
        var idRawsTotalSum = "#ts" + idProduct;
        var quantity = $(idQuantity).val();
        $(idTr).load('@Url.Action("SetProductQuantity", "Cart")?id=' + idProduct + '&quantity=' + quantity + '&returnUrl=' + returnUrl,
            function () {
                $("#totalQuantity").text($(idRawsTotalQuantity).val());
                $("#totalSum").text($(idRawsTotalSum).val());
            });

    };

</script>

<h2>Корзина</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Код</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.Lines)
        {
            <tr id="@('p'.ToString() + item.Product.Id.ToString())">
                @await Html.PartialAsync("CartLinePartial", new CartLineViewModel() { CartLine = item, ReturnUrl = Model.ReturnUrl })
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th id="totalQuantity">@totalQuantity</th>
            <th id="totalSum">@totalSum</th>
            <th></th>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Вернуться к покупкам</a>
</div>

